/* your custom css */

.fixedHeaderContainer header img {
    margin-right: 30px;
}

dl { padding-bottom: 1em; }
dd { padding-left: 2em; }
dl ul { margin-bottom: 0em; }

code {
    white-space: pre;
}

pre code, code pre, .syntax-block code, .grid code {
    white-space: pre-wrap;
}

#prop-list ul li code {
    white-space: normal;
}

img {
    border: 1px solid lightgrey;
    margin-top: 1em;
    margin-bottom: 1em;
}
img.logo {
    border: none;
}

table thead tr th:empty {
    display: none;
}
table.property-table, .syntax-block, .example code {
  border: none;
  background-color: white;
}
table.property-table tr {
  border: none;
}
table.property-table th, table.property-table td {
  border: none;
}
table.property-table th {
  white-space: nowrap;
}
table.property-table td {
  padding-left: 2.5em;
}
.syntax-block {
  margin-bottom: 1em;
  padding: 0.2em 1em;
}
.self-link {
  visibility: hidden;
}
.self-link:after {
  content: " \B6 ";
}
#version-nav {
    cursor: pointer;
}
#version-nav > summary {
    list-style: none;
    outline: none;
    padding-bottom: 20px;
    margin-top: 50px;
}
#version-nav > summary::-webkit-details-marker {
    display: none;
}
#prop-list summary, #js-support-table summary {
  font-weight: bold;
  padding: 0.7em;
  display: block;
}
#prop-list summary .self-link, #js-support-table summary .self-link {
  opacity: 0.2;
}
p:hover .self-link, #prop-list summary:hover .self-link, #js-support-table summary:hover .self-link {
  visibility: visible;
}
#prop-list details, #js-support-table details {
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: #e5f6ee;
  display: block;
}
#prop-list summary:focus, #js-support-table summary:focus {
  outline: none;
}
#prop-list summary + div, #prop-list summary + div + div, #js-support-table summary + div, #js-support-table summary + div + div {
  margin-top: 0em;
  margin-left: 0em;
  padding: 0.7em 2em;
}
#prop-list summary.ext, #prop-list summary.ext + div, #prop-list summary.ext + div + div, #js-support-table summary.ext, #js-support-table summary.ext + div, #js-support-table summary.ext + div + div {
  background-color: #dcede6 !important;
  border-color: #22b573;
  border-radius: 10px;
}
#prop-list details[open] summary.ext, #js-support-table details[open] summary.ext {
  border-radius: 10px 10px 0px 0px;
}
#prop-list details[open] summary.ext + div, #prop-list details[open] summary.ext + div + div, #js-support-table details[open] summary.ext + div, #js-support-table details[open] summary.ext + div + div {
  border-radius: 0px 0px 10px 10px;
}
#prop-list span.ext {
  background-color: #eee;
}
#prop-list details, #js-support-table details {
  margin: 1em 0em;
}
#prop-list details details, #js-support-table details details {
  margin: 1em;
}
#prop-list details:hover, #js-support-table details:hover {
  border-color: grey !important;
}
#prop-list details .hash-link {
    margin-left: 0px;
}
#prop-list .programlisting pre {
    white-space: normal;
}
#js-support-table details.object {
  background-color: #f2f2f2;
}
#js-support-table {
  padding: 0px;
  margin-bottom: 1em;
}
#js-support-table .type {
  font-style: italic;
  display: inline;
}
#js-support-table .type::after {
  content: " – ";
}
#js-support-table .returns {
  font-style: italic;
}
#js-support-table .returns::before {
  content: "Returns: ";
}
#js-support-table .desc {
  display: inline;
  min-width: 40%;
}
#js-support-table li.argument {
  display: block;
}
#js-support-table ul, #js-support-table li {
  margin: 0;
  padding: 0;
}
#js-support-table .name {
  font-weight: bold;
  display: inline;
}
#js-support-table .name.level {
  margin-right: 0.5em;
}
#js-support-table pre {
  background-color: #fff;
}
#js-support-table .example {
  padding: 5px;
}
#js-support-table .example pre {
  white-space: pre-wrap;
}
#js-support-table .example-return {
  display: block;
}
#js-support-table .example-return::before {
  content: " // returns: ";
}
#js-support-table .argslist::before {
  content: "(";
  font-style: normal;
}
#js-support-table .argslist::after {
  content: ")";
  font-style: normal;
}
#js-support-table .argslist {
  font-style: italic;
}
#js-support-table .ext {
  background-color: #dcede6 !important;
  border-color: #22b573;
}
#js-support-table .ext .level {
  background-color: inherit;
}
#js-support-table .ext .example {
  background-color: #f2f2f2;
}
#js-support-table .ext summary code b::after {
  content: "*";
}
#js-support-table .ext .ext {
  padding-top: 0px;
  padding-right: 0px;
}
#js-support-table .url-property::before {
  content: "See the property ";
}
dl.faq dt p {
    font-weight: bold;
}
a[href*='//']:not([href*='princexml.com'])::after {
  content: " \21D7";
  color: lightgrey; }
footer a[href*='//']:not([href*='princexml.com'])::after {
    content: "";
}
footer a[href] {
    color: rgba(255, 255, 255, 0.4);
}
footer a[href]:hover {
    text-decoration: underline;
}

.navListItemActive a {
    font-weight: bold;
}

.navListItemActive a:hover {
    padding-left: 0px !important;
}

ul.toc-headings {
    padding-left: 0px !important;
}
ul.toc-headings li a {
    padding-left: 15px;
}

ul.toc-headings li a.active {
    border-left: 2px solid #e0e0e0;
    padding-left: 13px;
}

ul.toc-headings li ul.toc-headings li a {
    padding-left: 30px;
}

ul.toc-headings li ul.toc-headings li a.active {
    border-left: 2px solid #e0e0e0;
    padding-left: 28px;
}

.navListItemActive a.active {
    border-left: 2px solid #e0e0e0;
}

.toc .toggleNav h4 {
    font-weight: normal !important;
}

.toc .toggleNav ul {
    padding-left: 12px;
}

.toc .toggleNav ul a:hover {
    padding-left: 1px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@media print {
    @page {
        size: A4;
        margin: 0em 2em 2em;
        margin-inside: 4em;
        @bottom-center {
            content: counter(page);
        }
    }
    h1, h2, h3, h4, h5 {
        page-break-after: avoid;
    }
    h3 + h4 {
        page-break-before: avoid !important;
    }
    .fixedHeaderContainer, footer, #docsNav, .docs-prevnext, .toggle, #toggle-js {
        display: none;
    }
    p, pre {
        orphans: 2;
        widows: 2;
    }
    p:contains('CSS') + pre, p:contains('HTML') + pre, p:contains('XML') + pre, p:contains('SVG') + pre, p:contains('JavaScript') + pre, p:contains('fonts.css') + pre, p:contains('Output') + ol, p:contains('Output') + table, p:contains('Novel title') + p, p:contains('Textbook page') + p, p:contains('Box decoration') + p, p:contains('Furniture catalogue') + p, p:contains('Printing a big table') + p  {
        page-break-before: avoid !important;
    }
    pre, p:contains('Output') {
        page-break-inside: avoid;
    }
    details {
        box-decoration-break: slice;
    }
}
