/* your custom css */

html, body {
    font-family: Public Sans, Arial, sans-serif !important;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h1, h2, h3 {
    font-weight: normal;
}

/* first, we reset unnecessary default table styling */
table {
    display: table;
    width: auto;
}
table#pregions td[rowspan] {
    writing-mode: vertical-rl;
    text-align: center;
    transform: rotate(180deg);
    vertical-align: middle;
    padding: 10px;
}

header {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    a:has(img) {
        margin-right: 30px;
        width: 120px;
        height: unset !important;
    }
    a {
        padding: 8px 0px;
        transition: 0.4s !important;
    }
}
.postHeader {
    justify-content: normal;
}

header ul li, .slidingNav, .nav-site, .nav-site li a {
    display: flex;
    height: 100% !important;
    align-items: center;
}

.fixedHeaderContainer {
    font-family: Public Sans, Arial, sans-serif;
    font-size: 16px;
    height: 70px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px;
    background-image: linear-gradient(110deg,#640c5c,#141429 52.3411106%,#732269);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.headerWrapper {
    width: 1150px;
    padding: 0px 25px;
}
.navigationWrapper, .slidingNav {
    height: 70px !important;
}

.nav-site li:nth-child(3) a {
    color: #ffa046 !important;
}

.navSearchWrapper input#search_input_react {
    width: 130px;
}

.navigationSlider .slidingNav ul li a,
.navigationSlider .slidingNav ul li > a:focus {
    color: #fff;
    background-color: inherit;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: Public Sans, Arial, sans-serif;
}
.navigationSlider .slidingNav ul li a:hover {
    background-color: inherit;
}
.nav-site li a:hover {
    color: #ffa046 !important;
}

dl { padding-bottom: 1em; }
dd { padding-left: 2em; }
dl ul { margin-bottom: 0em; }

code, pre code, code pre, .syntax-block code, .grid code {
    white-space: pre-wrap;
}
a[href*="prop-prince"] code, #ext-props code {
    white-space: nowrap;
}

#prop-list ul li code {
    white-space: normal;
}

img {
    border: 1px solid lightgrey;
    margin-top: 1em;
    margin-bottom: 1em;
}
img.logo {
    border: none;
}

table thead tr th:empty {
    display: none;
}
table.property-table, .syntax-block, .example code {
  border: none;
  background-color: white;
}
table.property-table tr {
  border: none;
}
table.property-table th, table.property-table td {
  border: none;
}
table.property-table th {
  white-space: nowrap;
}
table.property-table td {
  padding-left: 2.5em;
}
.syntax-block {
  margin-bottom: 1em;
  padding: 0.2em 1em;
}
.self-link:after {
  content: " \B6 ";
}
#version-nav {
    cursor: pointer;
}
#version-nav > summary {
    list-style: none;
    outline: none;
    padding-bottom: 20px;
    margin-top: 50px;
}
#version-nav > summary::-webkit-details-marker {
    display: none;
}
#prop-list summary, #js-support-table summary, dt[id], th[id] {
    scroll-margin-top: 80px;
}
#prop-list summary, #js-support-table summary {
  font-weight: bold;
  padding: 0.7em;
  display: block;
}
#prop-list summary .self-link, #js-support-table summary .self-link, .faq .self-link  {
  opacity: 0;
  transition: opacity 0.3s;
}
p:hover .self-link, #prop-list summary:hover .self-link, #js-support-table summary:hover .self-link {
  opacity: 0.2 !important;
}
#prop-list details, #js-support-table details {
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: #e5f6ee;
  display: block;
}
#prop-list summary:focus, #js-support-table summary:focus {
  outline: none;
}
#prop-list summary + div, #prop-list summary + div + div, #js-support-table summary + div, #js-support-table summary + div + div {
  margin-top: 0em;
  margin-left: 0em;
  padding: 0.7em 2em;
}
#prop-list summary.ext, #prop-list summary.ext + div, #prop-list summary.ext + div + div, #js-support-table summary.ext, #js-support-table summary.ext + div, #js-support-table summary.ext + div + div {
  background-color: #dcede6 !important;
  border-color: #22b573;
  border-radius: 10px;
}
#prop-list details[open] summary.ext, #js-support-table details[open] summary.ext {
  border-radius: 10px 10px 0px 0px;
}
#prop-list details[open] summary.ext + div, #prop-list details[open] summary.ext + div + div, #js-support-table details[open] summary.ext + div, #js-support-table details[open] summary.ext + div + div {
  border-radius: 0px 0px 10px 10px;
}
span.ext {
  background-color: #eee;
}
#prop-list details, #js-support-table details {
  margin: 1em 0em;
}
#prop-list details details, #js-support-table details details {
  margin: 1em;
}
#prop-list details:hover, #js-support-table details:hover {
  border-color: grey !important;
}
#prop-list details .hash-link {
    margin-left: 0px;
}
#prop-list .property-table code {
    padding: 0;
}
#prop-list .programlisting pre {
    white-space: normal;
}
#prop-list summary.dep, span.dep, #js-support-table .dep summary {
    text-decoration: line-through;
}
#prop-list summary.dep, #prop-list summary.dep + div, #prop-list summary.dep + div + div, #prop-list span.dep, .dep {
    opacity: 0.4;
}
#prop-list summary#prop---custom-property-name, #prop-list summary#prop---custom-property-name + div .example .syntax-block > code {
    font-style: italic;
}

p.note, p.warning {
    border: 1px solid pink;
    border-radius: 10px;
    padding: 10px;
}
p.note::before {
    content: "Note: ";
    font-weight: bold;
}
p.warning::before {
    content: "Warning: ";
    color: red;
    font-weight: bold;
}
p.note:only-child {
    margin-bottom: 0;
}

#js-support-table {
    padding: 0px;
    margin-bottom: 1em;
    details.object {
        background-color: #f2f2f2;
    }
    .type {
        font-style: italic;
        display: inline;
        &:after {
            content: " – ";
        }
    }
    .returns {
        font-style: italic;
        &:before {
            content: "Returns: ";
        }
    }
    .desc {
        display: inline;
        min-width: 40%;
    }
    li.argument {
        display: block;
    }
    ul, li {
        margin: 0;
        padding: 0;
    }
    .name {
        font-weight: bold;
        display: inline;
    }
    .name.level {
        margin-right: 0.5em;
        font-weight: 500;
    }
    pre {
        background-color: #fff;
    }
    .example {
        padding: 5px;
        pre {
            white-space: pre-wrap;
        }
    }
    .example-return {
        display: block;
        &:before {
            content: " // returns: ";
        }
    }
    .argslist {
        font-style: italic;
        &:before {
            content: "(";
            font-style: normal;
        }
        &:after {
            content: ")";
            font-style: normal;
        }
    }
    .ext {
        background-color: #dcede6 !important;
        border-color: #22b573;
        .level {
            background-color: inherit;
        }
        .example {
            background-color: #f2f2f2;
        }
        summary code b:after {
            content: "*";
        }
        .ext {
            padding-top: 0px;
            padding-right: 0px;
        }
    }
    .url-property {
        &:before {
            content: "See the property ";
        }
        &:after {
            content: ".";
        }
    }
}

dl.faq dt p {
    font-weight: bold;
}
dt[id*=cl] + dd p:last-child {
    margin-bottom: 0;
}
a[href*='//']:not([href*='princexml.com'])::after {
  content: " \21D7";
  color: lightgrey; }
footer a[href*='//']:not([href*='princexml.com'])::after {
    content: "";
}
footer a[href] {
    color: rgba(255, 255, 255, 0.4);
}
footer a[href]:hover {
    text-decoration: underline;
}

div.algolia-docsearch-suggestion--category-header {
    display: none !important;
}

*[id^="cl-"]:target { background: linear-gradient(#f5f5f5, #fff); }

.navListItemActive a {
    font-weight: bold;
    &:hover {
        padding-left: 0px !important;
    }
}

ul.toc-headings {
    padding-left: 0px !important;
    li  {
        a {
            padding-left: 15px;
        }
        a.active {
            border-left: 2px solid #e0e0e0;
            padding-left: 13px;
        }
        ul.toc-headings li {
            a {
                padding-left: 30px;
            }
            a.active {
                border-left: 2px solid #e0e0e0;
                padding-left: 28px;
            }
        }
    }
}

.navListItemActive a.active {
    border-left: 2px solid #e0e0e0;
}

.toc .toggleNav {
    h4 {
        font-weight: normal !important;
    }
    ul {
        padding-left: 12px;
        a:hover {
            padding-left: 1px;
        }
    }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 1024px) {
    #prop-list summary, #js-support-table summary, dt[id], th[id] {
        scroll-margin-top: 158px;
    }
    .fixedHeaderContainer, header {
        height: 50px !important;
    }
    header ul li, .slidingNav, .nav-site, .nav-site li a {
        height: 50px !important;
    }
    .navigationSlider .slidingNav ul {
        margin-top: 115px;
    }
    .navSearchWrapper {
        display: inline-block;
        input#search_input_react {
            width: 100%;
        }
        &:before, &:after {
            top: 30%;
        }
    }
}
@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

@media print {
    @page {
        size: A4;
        margin: 2em;
        margin-inside: 4em;
        @bottom-center {
            content: counter(page);
        }
    }
    @prince-pdf {
        -prince-pdf-display-doc-title: true;
        -prince-pdf-page-layout: two-page-right;
    }
    .navPusher {
        padding-top: 0px !important;
    }
    h1, h2, h3, h4, h5, tbody {
        break-after: avoid;
    }
    h1:contains('Convert HTML to PDF') {
        break-before: right;
    }
    h3 + h4 {
        break-before: avoid !important;
    }
    table#pregions td[rowspan] {
        writing-mode: horizontal-tb;
        transform: rotate(-90deg);
    }
    #version-nav, .fixedHeaderContainer, footer, #docsNav, .navBreadcrumb, .arrow, .docs-prevnext, .toggle, #toggle-js, #idx-contens + p, #idx-contens + p + ul {
        display: none;
    }
    #idx {
        padding-top: 50%;
    }
    p, pre {
        orphans: 2;
        widows: 2;
        text-align: justify;
    }
    p {
        hyphens: auto;
    }
    p:contains('CSS') + pre, p:contains('HTML') + pre, p:contains('XML') + pre, p:contains('SVG') + pre, p:contains('JavaScript') + pre, p:contains('fonts.css') + pre, p:contains('Output') + ol, p:contains('Output') + table, p:contains('Novel title') + p, p:contains('Textbook page') + p, p:contains('Box decoration') + p, p:contains('Furniture catalogue') + p, p:contains('Printing a big table') + p  {
        break-before: avoid !important;
    }
    pre, p:contains('Output') {
        break-inside: avoid;
    }
    .table-example, tr, summary + div div {
        break-inside: avoid;
    }
    summary + div div div:contains('Comments') {
        break-inside: auto !important;
    }
    summary {
        break-after: avoid;
    }
    details, p.note, p.warning {
        box-decoration-break: slice;
    }
    a[href]::after {
        content: " [p. " target-counter(attr(href), page) "]";
        color: black;
    }
    a[href*='//']:not([href*='princexml.com'])::after {
        content: " [\a0" attr(href) "\a0]" !important;
        color: black;
    }
    a[href*='first']::after, a[href*='install']::after, a[href*='samples']::after, a[href*='forum']::after, a[href*='contact']::after, a[href*='download']::after, a[href*='latest']::after, a[href='/books/']::after, a[href*='/howcome/']::after  {
        content: " [available only online]" !important;
        color: black;
    }
    a[href].hash-link::after, #prop-list details a[href]::after, a[href='https://www.princexml.com/']::after  {
        content: "" !important;
    }
    #docsNav {
        break-after: page;
        break-before: right;
    }
    #docsNav * {
        color: black !important;
    }
    #docsNav .navGroup.subNavGroup {
        break-inside: avoid !important;
    }
    #docsNav a[href]::after {
        content: leader('.') target-counter(attr(href), page);
    }
    #docsNav .toc .toggleNav ul ul {
        padding-right: 0px;
    }
    #docsNav .toc .toggleNav ul li.navListItemActive a {
        font-weight: normal;
        color: #717171;
    }
}
